html {
  overflow-y: scroll;
}

#site-title {
  font-size: larger;
}

#content-component {
  /* margin-top: 100px; */
  z-index: 2;
  background-color: white;
  height: 10%;
  width: 100%;
  position: fixed;
  top: 0;
}
