#menu-container {
    background-color: rgb(44, 51, 71);
}

.menu-option {
    color: rgb(226, 226, 226);
    margin: 10px;
    text-decoration: none;
    transition: all 200ms;
}

.menu-option:hover {
    color: white;
}

#navbar {
    background-color: rgb(0, 0, 0);
    /* position: fixed; */
    top: 0;
    width: 100%;
    z-index: 3;
}